<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyConnectionString" 
			 connectionString="Data Source=LAPTOP-Q6331GQE\SQLEXPRESS;Initial Catalog=CustomStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CustomStore.Properties.Settings.MyConnectionString"
            connectionString="Data Source=LAPTOP-Q6331GQE\SQLEXPRESS;Initial Catalog=CustomStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
  </runtime>
</configuration>